{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ticket list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ path('ticket_show', { 'id': ticket.id }) }}">{{ ticket.id }}</a></td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.content }}</td>
                <td>{% if ticket.date %}{{ ticket.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">show</a>
                        </li>
                        {#
                        <li>
                            <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">edit</a>
                        </li>
                        #}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ticket_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
